@font-face {
  font-family: "Hornet";
  src: url("hornet.ttf");
}

@font-face {
  font-family: "Roman";
  src: url("roman.ttf");
}

body {
  background-color: black;
  font-family: "Hornet";
  color: #81fcae;
}

p {
  margin: 0;
}

.title {
  text-decoration: underline;
  font-size: 50px;
}

.underline {
  text-decoration: underline;
  font-size: 24px;
}

.button-placement {
  display: flex;
  gap: 15px;
}

.button {
  border: 1px solid rgb(136, 238, 136);
  position: relative;
  font-size: 24px;
  user-select: none;
}

.button:hover {
  background-color: rgb(80, 152, 80);
  cursor: pointer;
}

.equation {
  font-family: "Roman";
  font-size: 36px;
  border: 1px solid rgb(136, 238, 136);
}

.representation {
  color: #9cecec;
}

.representation:hover {
  color:rgb(238, 136, 161);
}

.large {
  font-size: 24px;
}

.component {
  border: 1px solid rgb(136, 238, 136);
}